body{
    margin: 0;
    padding: 0;
}
button, #file_input, #button-send-file{
    cursor:pointer;
}
.main{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.288);
    height: 100%;
    
    margin-left: 400px;
    margin-right: 400px;
    background-color: rgb(255, 255, 255);
}
@media(max-width : 1104px){
  .main{
    margin-left:200px;
    margin-right:200px;
  }
}
@media(max-width : 768px){
    .main{
        margin-left: 50px;
        margin-right:50px;
    }

}
@media(max-width : 320px){
  .main{
        margin-left: 0px;
        margin-right:0px;
  }
}
