<!doctype html>
<html lang="en" >
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  {% load static %}
  <link rel = "stylesheet" href = "project.css">
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>
<body>
    {% csrf_token %}
    <div class = "main">
        <div class = "container-user-info">
            <div class = username>
                <div>
                    <form action= "change_name">
                        <header id = "username" contenteditable="false">Максим</header>
                        <button type="submit"><i class="fas fa-save" onclick="username.setAttribute('contenteditable', 'false')"></i></button>
                    </form>
                    
                </div>
                
            </div>
            <div class = "unique-code-user">
                Ваш код для подключения:<br>
                <div class = "code">
                    654789
                </div>
            </div>
        </div>
        <div class = "container-user-tools">
            <div class = "change-password">
                <button class = "btn-change-password">Изменить пароль</button>
            </div>
            <div class = "change-name">
                <button class = "btn-change-name" onclick="username.setAttribute('contenteditable', 'true')">Изменить имя</button>
            </div>
        </div>
        <div class = "container-user-connecting">
            <button class = "btn-connecting" >Подключиться</button>
        </div>
    </div>
</body>
</html>